.Post {
  margin: 5px auto;
  width: 100%;
  font-size: 17px;
  color: #c8c5c5;
  cursor: pointer;

  @media (min-width: 576px) {
    font-size: 23px;
    width: 85%;
  }

  div {
    padding: 20px;
    // border: 1px solid black;
    border-radius: 5px;
  }
}

.Title {
  display: flex;
  align-items: center;
  background: rgb(56 118 127);

  span {
    flex-grow: 1;
  }

  svg {
    font-size: 30px;
    margin-left: 15px;
    transition: all 0.3s;
    min-width: 40px;

    @media (min-width: 576px) {
      font-size: 40px;
    }
  }
}

.Body {
  display: none;
  transition: all 0.3s;
}

.Active {
  .Body {
    display: block;
    margin: 0 0 3px 0;
    background: rgb(56 118 127);
  }

  svg {
    transform: rotate(135deg);
  }
}
