.MyInput {
  border: none;
  border-bottom: 2px solid rgb(10, 73, 83);
  background: rgb(242, 245, 246);
  border-radius: 10px;
  padding: 5px 30px;
  font: 400 22px / calc(20 / 14) sans-serif;
  color: rgb(10, 73, 83);
}
