body {
  font-family: "Montserrat", sans-seri;
}
#root {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.header {
  width: 100%;
  padding: 20px 0;

  @media (min-width: 576px) {
    box-shadow: 0px 4px 8px rgba(200, 200, 200, 0.25);
    background: rgb(10, 73, 83);
  }
}

.last-block {
  margin: 200px 0;
  padding: 30px 0;
}
